<div>
  <h2 id="page-heading" data-cy="QRCodeHeading">
    <span jhiTranslate="pilatesapplicationApp.qRCode.home.title">QR Codes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pilatesapplicationApp.qRCode.home.refreshListLabel">Listeyi yenile</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-qr-code"
        [routerLink]="['/qr-code/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="pilatesapplicationApp.qRCode.home.createLabel">Yeni QR Code ekle</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="pilatesapplicationApp.qRCode.home.search">QR Code ara</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'pilatesapplicationApp.qRCode.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="qRCodes?.length === 0">
    <span jhiTranslate="pilatesapplicationApp.qRCode.home.notFound">QR Codes kaydi bulunamadi</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="qRCodes && qRCodes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="code">
            <div class="d-flex">
              <span jhiTranslate="pilatesapplicationApp.qRCode.code">Code</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sessionId">
            <div class="d-flex">
              <span jhiTranslate="pilatesapplicationApp.qRCode.sessionId">Session Id</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="athleteId">
            <div class="d-flex">
              <span jhiTranslate="pilatesapplicationApp.qRCode.athleteId">Athlete Id</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="coachId">
            <div class="d-flex">
              <span jhiTranslate="pilatesapplicationApp.qRCode.coachId">Coach Id</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let qRCode of qRCodes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/qr-code', qRCode.id, 'view']">{{ qRCode.id }}</a>
          </td>
          <td>{{ qRCode.code }}</td>
          <td>{{ qRCode.sessionId }}</td>
          <td>{{ qRCode.athleteId }}</td>
          <td>{{ qRCode.coachId }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/qr-code', qRCode.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Görüntüle</span>
              </a>

              <a [routerLink]="['/qr-code', qRCode.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Düzenle</span>
              </a>

              <button type="submit" (click)="delete(qRCode)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Sil</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
