<div>
  <h2 id="page-heading" data-cy="AthleteHeading">
    <span jhiTranslate="pilatesapplicationApp.athlete.home.title">Athletes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pilatesapplicationApp.athlete.home.refreshListLabel">Listeyi yenile</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-athlete"
        [routerLink]="['/athlete/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="pilatesapplicationApp.athlete.home.createLabel">Yeni Athlete ekle</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="pilatesapplicationApp.athlete.home.search">Athlete ara</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'pilatesapplicationApp.athlete.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="athletes?.length === 0">
    <span jhiTranslate="pilatesapplicationApp.athlete.home.notFound">Athletes kaydi bulunamadi</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="athletes && athletes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="pilatesapplicationApp.athlete.name">Name</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="pilatesapplicationApp.athlete.email">Email</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phone">
            <div class="d-flex">
              <span jhiTranslate="pilatesapplicationApp.athlete.phone">Phone</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="city">
            <div class="d-flex">
              <span jhiTranslate="pilatesapplicationApp.athlete.city">City</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="pilatesapplicationApp.athlete.address">Address</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="birthday">
            <div class="d-flex">
              <span jhiTranslate="pilatesapplicationApp.athlete.birthday">Birthday</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sessionPackage.id">
            <div class="d-flex">
              <span jhiTranslate="pilatesapplicationApp.athlete.sessionPackage">Session Package</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let athlete of athletes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/athlete', athlete.id, 'view']">{{ athlete.id }}</a>
          </td>
          <td>{{ athlete.name }}</td>
          <td>{{ athlete.email }}</td>
          <td>{{ athlete.phone }}</td>
          <td>{{ athlete.city }}</td>
          <td>{{ athlete.address }}</td>
          <td>{{ athlete.birthday | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="athlete.sessionPackage">
              <a [routerLink]="['/session-package', athlete.sessionPackage.id, 'view']">{{ athlete.sessionPackage.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/athlete', athlete.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Görüntüle</span>
              </a>

              <a [routerLink]="['/athlete', athlete.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Düzenle</span>
              </a>

              <button type="submit" (click)="delete(athlete)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Sil</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
